---
import Layout from "../layouts/Layout.astro";
import {
	TbBrandFiverr,
	TbBrandLinkedin,
	TbBrandGithub,
} from "react-icons/tb";
---

<Layout title="Uros Jeknic">
	<main class="max-w-7xl w-4/5 mx-auto lg:flex [&>*]:lg:pt-24">
		<header class="lg:sticky lg:pb-24 lg:flex lg:flex-col lg:max-h-screen">
			<div>
				<h1 class="lg:text-5xl font-bold">Uros Jeknic</h1>
				<h2 class="uppercase lg:text-xl">Fullstack Developer</h2>
				<p>
					I build pixel-perfect, accessible products for the web and
					beyond.
				</p>
				<nav>
					<ul class="uppercase text-lg mt-16 text-slate-500">
						<li><a class="list" href="#about">About</a></li>
						<li>
							<a class="list" href="#experience">Experience</a>
						</li>
						<li><a class="list" href="#projects">Projects</a></li>
						<li><a class="list" href="#stack">Stack</a></li>
					</ul>
				</nav>
			</div>
			<ul class="flex gap-5">
				<li>
					<a
						href="https://github.com/Yekna/"
						target="_blank"
						class="hover:text-slate-400 text-slate-500"
						><TbBrandGithub size="2em" />
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/uro%C5%A1-jekni%C4%87-a780ab259/"
						target="_blank"
						class="hover:text-slate-400 text-slate-500"
						><TbBrandLinkedin size="2em" />
					</a>
				</li>
				<li>
					<a
						href="https://www.fiverr.com/users/yeknaa/"
						target="_blank"
						class="hover:text-slate-400 text-slate-500"
						><TbBrandFiverr size="2em" />
					</a>
				</li>
			</ul>
		</header>
		<section></section>
	</main>
</Layout>

<style>
	li {
		padding: 0.5rem 0 0.5rem 0;
	}

	.list {
		position: relative;
		padding-left: 2.5rem;
		transition-property: color width;
	}

	.list::before {
		content: "";
		height: 0.1rem;
		position: absolute;
		left: 0;
		width: 2rem;
		transform: translateY(-100%);
		top: 50%;
		background-color: rgb(100 116 139);
		transition-property: background-color width;
	}

	.list,
	.list::before {
		transition-duration: 0.3s;
	}

	.list:hover::before {
		width: 4rem;
		background-color: #e2e8f0;
	}

	.list:hover {
		padding-left: 4.5rem;
		color: #e2e8f0;
	}
</style>
