---
import type { CollectionEntry } from "astro:content";
import Experience from "./Experience.astro";
type Props = {
  experience: CollectionEntry<"experience">[];
};

const { experience } = Astro.props;
---

<h3 class="lg:hidden block text-xl uppercase tracking-wide">Experience</h3>
{experience.map((e) => <Experience experience={e} />)}

<script>
  const articles = document.querySelectorAll("article");
  articles.forEach((article) => {
    article.addEventListener("mouseover", handleMouseOver);
    article.addEventListener("mouseleave", handleMouseLeave);
  });

  function handleMouseOver(event: Event) {
    articles.forEach((article) => {
      if (article !== event.currentTarget) {
        article.style.opacity = "0.5";
      }
    });
  }

  function handleMouseLeave() {
    articles.forEach((article) => (article.style.opacity = "1"));
  }
</script>
