---
import type { CollectionEntry } from "astro:content";
import Project from "./Project.astro";
type Props = {
    projects: CollectionEntry<"projects">[];
};

const { projects } = Astro.props;
---

<h3 class="block lg:hidden text-xl uppercase tracking-wide">Projects</h3>
{projects.map((p) => <Project project={p} />)}