---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="relative">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="highlight" class="absolute inset-0 pointer-events-none"></div>
		<slot />
		<script>
			const highlight = document.getElementById(
				"highlight",
			) as HTMLElement;

			if (window.innerWidth >= 1024) {
				document.addEventListener("mousemove", function (e) {
					const mouseX = e.pageX;
					const mouseY = e.pageY;
					highlight.style.background = `radial-gradient(600px at ${mouseX}px ${mouseY}px, rgba(29,78,216,0.15), transparent 80%)`;
				});
			}
		</script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #10192e;
		color: #e2e8f0;
		font-family: "Roboto", sans-serif;
		box-sizing: border-box;
	}

	*::selection {
		background-color: #5eead4;
		color: rgb(19 78 74);
	}

	p {
		color: rgb(148 163 184);
		font-size: 1.1rem;
	}
</style>
